<% layout('layout.ejs') %>


<!-- Section: About Me -->
<% layout('layout.ejs') %>


<!-- Section: About Me -->
<section id="about" class="about-section py-5">
    <div class="container">

            <div class="col-lg-8">


                        <!-- <div class="text-center">
                            <img src="" alt="Profile Picture" class="img-fluid rounded-circle mb-4" width="150">        
                        </div> -->
                        <h2 class="">About Me</h2>
                        <div class="row my-3">
                          <h3>The Genesis</h3><h5> My Entry Into The Digital World</h5>
                          <p>In 2010, fresh out of military service, I found myself back in academia. Eight months later, I had taken the leap into the professional world, embarking on my first job as a Creative Assistant at a boutique ad agency. Simultaneously, I dabbled in the role of Director's Assistant during commercial shoots, amassing invaluable on-field experience.</p>
                        </div>
                        <div class="row my-3">
                          <h3>The Ascent</h3><h5> Expanding Horizons</h3></h5>
                          <p>My journey took me next to yerevanguide.am, an innovative platform spotlighting Armenia's cultural hotspots on a dynamic web map. Here, I worked on driving traffic to the website, added new businesses, crafted marketing strategies, and managed BTL events and quests. A year later, my career trajectory shifted towards the legal field, where I found myself heading marketing for a law agency.</p>
                        </div>
                        <div class="row my-3">
                          <h3>The Pinnacle</h3><h5> Leading the Charge</h3></h5>
                          <p>Life then threw a grand opportunity my way - leading a digital marketing agency. I grabbed the chance, evolving in a few years into a managing partner with a 50% profit share. At this agency, we underwent a transformation, rebranding as Different Ads. My days were filled with collaborating with top local artists like Sirusho and renowned international corporations like Pernod Ricard and Toyota.</p>
                        </div>
                          <div class="row my-3">
                            <h3>The Fall</h3><h5> Rising From the Ashes</h3></h5>
                            <p>Then, in a cruel twist of fate, a devastating fire engulfed my office. All was lost in an instant - my furnishings, my computers, everything. Recovery seemed daunting, and in the face of aggressive social media demands, most clients moved on. Yet, a few supportive friend-clients stayed.</p>
                          </div>
                        <div class="row my-3">
                          <h3>The Rebirth</h3><h5> Innovating in the National Lottery</h3></h5>
                          <p>Licking my wounds, I began anew at the Armenian National Lottery. My role as a Digital Marketing Specialist allowed me to elevate their social media presence, overhaul their website, and initiate BTL events. My crowning achievement was bringing 'live' content to the fore, creating a more engaging and interactive experience.</p>  
                        </div>
                        <div class="row my-3">
                          <h3>The Sprint</h3><h5> A Stepping Stone in Local Business Holding</h3></h5>
                          <p>After a productive 1.5 years, I joined a local business holding as a digital specialist. My work involved creating promotional business websites and the official website for the local football club, Ararat Armenia.</p>
                        </div>
                        <div class="row my-3">
                          <h3>The Start-Up Experience</h3><h5>Turning Ideas into Reality</h3></h5>
                          <p>My journey then veered towards the entrepreneurial, co-founding a start-up. Despite the promising beginnings and successfully raising funds at the whitepaper stage, internal team conflicts led me to exit after the MVP stage.</p>
                        </div>
                        <div class="row my-3">
                          <h3>The Current Chapter</h3><h5> Digital Solutions in Logistics</h3></h5>
                          <p>Currently, I'm with a local company that provides logistics services in the USA. My work involves providing them with comprehensive digital solutions, including branding and website development.</p>
                        </div>
                        <div class="row my-3">
                          <h3>Looking Ahead</h3><h5> The Canadian Dream</h3></h5>
                          <p>However, I feel compelled to seek new horizons, drawn by the allure of security and opportunity in Canada. I yearn to deliver high-end IT services to Canadian businesses and build strong professional relationships. More importantly, I yearn for friendship and camaraderie in my new home. </p>
                        </div>

            </div>
        </div>
    </div>
</section>
